pr:
  branches:
    include:
      - master
trigger:
  branches:
    include:
      - master

variables:
  buildConfiguration: 'Release'
  dotnetSdkVersion: '8.x'
  vmImage: 'ubuntu-latest'
  
  solution: 'Fiap.Game.sln'
  projectApi: 'Fiap.Game.Api/Fiap.Game.Api.csproj'
  projectTest: 'Fiap.Game.Tests/Fiap.Game.Tests.csproj' 

stages:
- stage: 'Build'
  displayName: 'Build e Teste'
  jobs:
  - job: 'Build'
    displayName: 'Build Job'
    pool:
      vmImage: '$(vmImage)'

    steps:
    
    - task: UseDotNet@2
      displayName: 'Use .NET SDK $(dotnetSdkVersion)'
      inputs:
        packageType: 'sdk'
        version: '$(dotnetSdkVersion)'
    
    
    - task: DotNetCoreCLI@2
      displayName: 'Restore solution'
      inputs:
        command: 'restore'
        projects: '$(solution)'
        feedsToUse: 'select'

    - task: DotNetCoreCLI@2
      displayName: 'Build solution'
      inputs:
        command: 'build'
        projects: '$(solution)'
        arguments: '--no-restore --configuration $(buildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: 'Run tests'
      inputs:
        command: 'test'
        projects: '$(projectTest)'
        arguments: '--no-build --configuration $(buildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: 'Publish API'
      inputs:
        command: 'publish'
        projects: '$(projectApi)' 
        publishWebProjects: false
        arguments: '--no-build --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/App'
        zipAfterPublish: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'

- stage: 'Development'
  displayName: 'Deploy to the Development environment'
  dependsOn: Build
  condition: succeeded()
  jobs:
    - deployment: Deploy
      pool: self-hosted
  #    variables:
  #      - group: ''
      strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop
                - script: |
                      echo O deploy em Development foi feito com sucesso
                  displayName: 'Deploy to the Development'

- stage: 'Staging'
  displayName: 'Deploy to the Staging environment'
  dependsOn: Development
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/stage')
  jobs:
    - deployment: Deploy
      pool: self-hosted
   #   variables:
    #    - group: ''
      strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop
                - script: |
                      echo O deploy em Staging foi feito com sucesso
                  displayName: 'Deploy to the Staging'
                
- stage: 'Production'
  displayName: 'Deploy to the Production environment'
  dependsOn: Staging
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
  jobs:
    - deployment: Deploy
      pool: self-hosted
   #   variables:
       # - group: ''
      strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop
                - script: |
                      echo O deploy em Production foi feito com sucesso
                  displayName: 'Deploy to the Staging'