trigger:
  - '*'
resources:
- repo: self

variables:
  buildConfiguration: 'Release'
  dotnetSdkVersion: '8.x'
  vmImage: 'ubuntu-latest'
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'be9fb58e-6c69-4bbb-9db6-a5a16492045b'
  imageRepository: 'fiap'
  containerRegistry: 'fiapgameacr.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Fiap.Game.Api/Dockerfile'
  tag: '$(Build.BuildId)'
  
  solution: 'Fiap.Game.sln'
  projectApi: 'Fiap.Game.Api/Fiap.Game.Api.csproj'
  projectTest: 'Fiap.Game.Tests/Fiap.Game.Tests.csproj' 

stages:
- stage: 'Build'
  displayName: 'Build e Teste'
  jobs:
  - job: 'Build'
    displayName: 'Build Job'
    pool:
      vmImage: '$(vmImage)'

    steps:
    
    - task: UseDotNet@2
      displayName: 'Use .NET SDK $(dotnetSdkVersion)'
      inputs:
        packageType: 'sdk'
        version: '$(dotnetSdkVersion)'
    
    
    - task: DotNetCoreCLI@2
      displayName: 'Restore solution'
      inputs:
        command: 'restore'
        projects: '$(solution)'
        feedsToUse: 'select'

    - task: DotNetCoreCLI@2
      displayName: 'Build solution'
      inputs:
        command: 'build'
        projects: '$(solution)'
        arguments: '--no-restore --configuration $(buildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: 'Run tests'
      inputs:
        command: 'test'
        projects: '$(projectTest)'
        arguments: '--no-build --configuration $(buildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: 'Publish API'
      inputs:
        command: 'publish'
        projects: '$(projectApi)' 
        publishWebProjects: false
        arguments: '--no-build --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/App'
        zipAfterPublish: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        containerRegistry: 'fiapgameacr'
        repository: 'pipeline-acr'
        command: 'buildAndPush'
        Dockerfile: '**/Fiap.Game.Api/Dockerfile'
        buildContext: $(Build.SourcesDirectory)
        tags: '$(tag)'


- stage: 'Development'
  displayName: 'Deploy to the Development environment'
  dependsOn: Build
  condition: succeeded()
  jobs:
    - deployment: Deploy
      pool: self-hosted
      environment: development
  #    variables:
  #      - group: ''
      strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop
                - script: |
                      echo O deploy em Development foi feito com sucesso
                  displayName: 'Deploy to the Development'

- stage: 'Staging'
  displayName: 'Deploy to the Staging environment'
  dependsOn: Development
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/stage')
  jobs:
    - deployment: Deploy
      pool: self-hosted
      environment: staging
   #   variables:
    #    - group: ''
      strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop
                - script: |
                      echo O deploy em Staging foi feito com sucesso
                  displayName: 'Deploy to the Staging'
                
- stage: 'Production'
  displayName: 'Deploy to the Production environment'
  dependsOn: Staging
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
  jobs:
    - deployment: Deploy
      pool: self-hosted
      environment: production
   #   variables:
       # - group: ''
      strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop
                - script: |
                      echo O deploy em Production foi feito com sucesso
                  displayName: 'Deploy to the Production'